**/ganglion.toml
**/.idea/
**/ls_volume/
**/venv/
**/.venv/
**/.env
**/.coverage
**/.coveragerc
**/htmlcov
**/.pytest_cache
**/__pycache__
**/report_unit.xml
**/*.zip
**/temp/
**/debug.json
**/.mypy_cache/
**/tmp/
**/.cache/
**/output/
**/site_models.json
**/ollama_wrapper.py
**/cache/
**/build/
**/dist/
**/parllama.egg-info/
**/.DS_Store
/quantize_model/
/quantize_workspace/
/notes.md
/custom_models/
/chat.md
/fabric_samples/
/rag_docs/
