[MAIN]
ignore=ollama_wrapper.py
ignore-paths=
persistent=yes
jobs=0
suggestion-mode=yes
py-version = 3.11.0
extension-pkg-whitelist=orjson

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=fixme, too-many-instance-attributes, too-many-public-methods, too-few-public-methods, too-many-ancestors, too-many-locals, duplicate-code

[SIMILARITIES]
min-similarity-lines = 10
ignore-docstrings=yes
ignore-comments=yes
ignore-imports=yes
ignore-signatures=yes

[MISCELLANEOUS]
notes=FIXME,XXX,TODO

[BASIC]
good-names=i,j,k,ex,Run,_
bad-names=foo,bar,baz,toto,tutu,tata
