[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "*"
requests = "*"
simplejson = "*"
attrs = "*"
certifi = "*"
requests-file = "*"
#textual = { version = "==0.75.0", extras = ["syntax"] }
textual = { version = "*", extras = ["syntax"] }
asyncio = "*"
humanize = "*"
argparse = "*"
pyperclip = "*"
rich = "*"
python-dotenv = "*"
pydantic = "*"
ollama = "*"
bs4 = "*"
docker = "*"
textual-fspicker = "*"
google-api-python-client = "*"
youtube-transcript-api = "*"
isodate2 = "*"
pypdf = "*"
semver = "*"
pytz = "*"
sqlalchemy = "*"
jsonschema = "*"
markdownify = "*"
cryptography = "*"
tiktoken = "*"
langchain = "*"
langchain-core = "*"
langchain-community = "*"
langchain-text-splitters = "*"
langchain-ollama = "*"
langchain-huggingface = "*"
langchainhub = "*"
langgraph = "*"
langsmith = "*"
chromadb = "*"
langchain_chroma = "*"
openai = "*"
langchain-openai = "*"
langchain_experimental = "*"

[dev-packages]
mypy = "*"
build = "*"
twine = "*"
typing-extensions = "*"
types-simplejson = "*"
black = "*"
pylint = "*"
types-pytz = "*"
textual-dev = "*"
types-requests = "*"
types-beautifulsoup4 = "*"
pydevd_pycharm = "*"
pre-commit = "*"
google-api-python-client-stubs = "*"
unstructured = { version = "*", extras = ["csv", "doc", "docx", "epub", "md", "msg", "odt", "org", "pdf", "ppt", "pptx", "rtf", "rst", "tsv", "xlsx"] }
python-libmagic = "*"

[requires]
python_version = "3.11"
