[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
urllib3 = "*"
requests = "*"
requests-file = "*"
bs4 = "*"
simplejson = "*"
attrs = "*"
certifi = "*"
asyncio = "*"
humanize = "*"
argparse = "*"
pyperclip = "*"
python-dotenv = "*"
semver = "*"
pytz = "*"
isodate2 = "*"
rich = "*"
textual = { version = "*", extras = ["syntax"] }
textual-fspicker = "*"
docker = "*"
pypdf = "*"
jsonschema = "*"
markdownify = "*"
sqlalchemy = "*"
google-api-python-client = "*"
youtube-transcript-api = "*"
pydantic = "*"
pydantic-core = "*"
tiktoken = "*"
sentence-transformers = "*"
langchain = "*"
langchain-core = "*"
langchain-community = "*"
langchain-text-splitters = "*"
langchain-experimental = "*"
langchainhub = "*"
langgraph = "*"
langsmith = "*"
chromadb = "*"
ollama = "*"
openai = "*"
groq = "*"
anthropic = "*"
google-generativeai = "*"
langchain-ollama = "*"
langchain-openai = "*"
langchain-groq = "*"
langchain-anthropic = "*"
langchain-google-genai = "*"
langchain-huggingface = "*"
langchain-chroma = "*"
langchain-google-community = "*"

[dev-packages]
mypy = "*"
pyright = "*"
build = "*"
twine = "*"
typing-extensions = "*"
types-simplejson = "*"
black = "*"
pylint = "*"
types-pytz = "*"
textual-dev = "*"
types-requests = "*"
types-beautifulsoup4 = "*"
pydevd_pycharm = "*"
pre-commit = "*"
google-api-python-client-stubs = "*"
unstructured = { version = "*", extras = ["csv", "doc", "docx", "epub", "md", "msg", "odt", "org", "pdf", "ppt", "pptx", "rtf", "rst", "tsv", "xlsx"] }
python-libmagic = "*"

[requires]
python_version = "3.11"
