[project]
name = "parllama"
dynamic = [
    "version",
]
description = "Terminal UI for Ollama and other LLM providers"
readme = "README.md"
url = "https://github.com/paulrobello/parllama"
authors = [
    { name = "Paul Robello", email = "probello@gmail.com" },
]
maintainers = [
    { name = "Paul Robello", email = "probello@gmail.com" },
]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Environment :: Console",
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: End Users/Desktop",
    "Intended Audience :: Other Audience",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Operating System :: MacOS",
    "Operating System :: Microsoft :: Windows :: Windows 10",
    "Operating System :: Microsoft :: Windows :: Windows 11",
    "Operating System :: POSIX :: Linux",
    "Topic :: Terminals",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Typing :: Typed",
]
keywords = [
    "ollama",
    "llamacpp",
    "openai",
    "anthropic",
    "groq",
    "xai",
    "openrouter",
    "vision",
    "llm",
    "ai",
    "terminal",
    "tui",
]
requires-python = ">=3.11"
dependencies = [
    "argparse>=1.4.0",
    "asyncio>=3.4.3",
    "beautifulsoup4>=4.13.3",
    "build>=1.2.2.post1",
    "cryptography>=44.0.2",
    "docker>=7.1.0",
    "httpx>=0.28.1",
    "humanize>=4.11.0",
    "langchain>=0.3.20",
    "ollama>=0.4.7",
    "pydantic>=2.10.6",
    "pydantic-core>=2.27.2",
    "python-dotenv>=1.0.1",
    "pytz>=2025.1",
    "requests>=2.32.3",
    "rich>=13.9.4",
    "semver>=3.0.4",
    "textual>=2.1.2",
    "textual-fspicker>=0.4.1",
    "urllib3>=2.3.0",
    "rich-pixels>=3.0.1",
    "orjson>=3.10.15",
    "par-ai-core>=0.1.23",
    "clipman>=3.3.1",
    "google-generativeai>=0.8.4",
    "xdg-base-dirs>=6.0.2",
]
packages = [
    "src/parllama",
]

[project.license]
file = "LICENSE"

[project.urls]
Homepage = "https://github.com/paulrobello/parllama"
Documentation = "https://github.com/paulrobello/parllama/blob/main/README.md"
Source = "https://github.com/paulrobello/parllama"
Issues = "https://github.com/paulrobello/parllama/issues"
Discussions = "https://github.com/paulrobello/parllama/discussions"
Wiki = "https://github.com/paulrobello/parllama/wiki"

[project.scripts]
parllama = "parllama.__main__:run"

[project.optional-dependencies]
web = [
    "textual-serve>=1.1.1",
]

[build-system]
requires = [
    "hatchling",
]
build-backend = "hatchling.build"

# start of [syntax] extras
# Require tree-sitter >= 0.23.0 and python >= 3.9
# Windows, MacOS and Linux binary wheels are available for all of the languages below.
tree-sitter = { version = ">=0.23.0", optional = true, python = ">=3.9" }
tree-sitter-python = { version = ">=0.23.0", optional = true, python = ">=3.9" }
tree-sitter-markdown = { version = ">=0.3.0", optional = true, python = ">=3.9"}
tree-sitter-json = { version = ">=0.24.0", optional = true, python = ">=3.9" }
tree-sitter-toml = { version = ">=0.6.0", optional = true, python = ">=3.9" }
tree-sitter-yaml = { version = ">=0.6.0", optional = true, python = ">=3.9" }
tree-sitter-html = { version = ">=0.23.0", optional = true, python = ">=3.9" }
tree-sitter-css = { version = ">=0.23.0", optional = true, python = ">=3.9" }
tree-sitter-javascript = { version = ">=0.23.0", optional = true, python = ">=3.9" }
tree-sitter-rust = { version = ">=0.23.0", optional = true, python = ">=3.9" }
tree-sitter-go = { version = ">=0.23.0", optional = true, python = ">=3.9" }
tree-sitter-regex = { version = ">=0.24.0", optional = true, python = ">=3.9" }
tree-sitter-xml = { version = ">=0.7.0", optional = true, python = ">=3.9" }
tree-sitter-sql = { version = ">=0.3.0,<0.3.8", optional = true, python = ">=3.9" }
tree-sitter-java = { version = ">=0.23.0", optional = true, python = ">=3.9" }
tree-sitter-bash = { version = ">=0.23.0", optional = true, python = ">=3.9" }
# end of [syntax] extras



[dependency-groups]
dev = [
    "pyright>=1.1.391",
    "types-pytz>=2024.2.0.20241221",
    "types-requests>=2.32.0.20241016",
    "types-beautifulsoup4>=4.12.0.20241020",
    "pre-commit>=4.0.1",
    "google-api-python-client-stubs>=1.28.0",
    "pyinstrument>=4.7.3",
    "types-orjson>=3.6.2",
    "ruff>=0.7.4",
    "textual-dev>=1.7.0",
]

syntax = [
    "tree-sitter",
    "tree-sitter-python",
    "tree-sitter-markdown",
    "tree-sitter-json",
    "tree-sitter-toml",
    "tree-sitter-yaml",
    "tree-sitter-html",
    "tree-sitter-css",
    "tree-sitter-javascript",
    "tree-sitter-rust",
    "tree-sitter-go",
    "tree-sitter-regex",
    "tree-sitter-xml",
    "tree-sitter-sql",
    "tree-sitter-java",
    "tree-sitter-bash",
]

[tool.uv]
default-groups = ["dev", "syntax"]


[tool.hatch.version]
path = "src/parllama/__init__.py"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = [
    "src/parllama",
]

[tool.hatch.build.targets.sdist]
include = [
    "src/parllama",
    "LICENSE",
    "README.md",
    "pyproject.toml",
]
exclude = [
    "*.pyc",
    "__pycache__",
    "*.so",
    "*.dylib",
]
